#header_bg {
  background-color: #eee;
}
#header_bg header {
  width: calc(100% - 30px);
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 1200px;
  min-width: 320px;
  background-color: aqua;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#header_bg header nav {
  background-color: #ccc;
}
#header_bg header nav a {
  margin-left: 16px;
}
#header_bg header nav a:first-child {
  margin-left: 0;
}

#slide_wrap {
  width: calc(100% - 30px);
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 1200px;
  min-width: 320px;
  position: relative;
}
#slide_wrap .slide_container .slide {
  display: none;
}
#slide_wrap .slide_container .slide1 {
  display: block;
}
#slide_wrap .prev, #slide_wrap .next {
  position: absolute;
}
#slide_wrap .prev {
  left: 20px;
  top: 45%;
}
#slide_wrap .next {
  right: 20px;
  top: 45%;
}
#slide_wrap .pagenation { /* background-color: brown; */
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  text-align: center;
  /* transform: translate(-50%,-50%); */
}
#slide_wrap .pagenation a {
  background: #ccc;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -9999px;
  margin-right: 10px;
}
#slide_wrap .pagenation a:last-child {
  margin-right: 0;
}
#slide_wrap .pagenation a.active {
  background: #fff;
}

#gallery_wrap { /* background-color: blueviolet; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 1200px;
  min-width: 320px;
  padding: 50px 0;
}
#gallery_wrap .gallery {
  width: 100px;
  height: 100px;
}
#gallery_wrap .gallery img {
  width: 100%;
}
#gallery_wrap .g5 {
  width: 200px;
  height: 200px;
}

#bnr_wrap {
  text-align: center;
  padding: 50px 0;
  background-color: #222;
  font-size: 22px;
}
#bnr_wrap span {
  color: #fff;
}

#card_wrap {
  padding: 50px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 1200px;
  min-width: 320px;
  /* background-color:aqua; */
}
#card_wrap .card {
  background-color: #eee;
  width: 23%;
  padding: 30px 20px;
}
#card_wrap .card img {
  width: 100%;
}
#card_wrap .card h2 {
  margin-top: 20px;
}
#card_wrap .card p {
  margin-top: 20px;
}

#qa_wrap {
  width: calc(100% - 30px);
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 1200px;
  min-width: 320px;
}
#qa_wrap h2 {
  font-size: 22px;
}
#qa_wrap form fieldset input {
  width: 1200px;
  margin: 16px 0;
  background-color: #eee;
  border: 0;
  height: 53px;
}
#qa_wrap form fieldset input::-moz-placeholder {
  color: #000;
  padding-left: 10px;
}
#qa_wrap form fieldset input:-ms-input-placeholder {
  color: #000;
  padding-left: 10px;
}
#qa_wrap form fieldset input::placeholder {
  color: #000;
  padding-left: 10px;
}
#qa_wrap form fieldset input[name$=id] {
  margin-bottom: 0;
}
#qa_wrap form fieldset textarea::-moz-placeholder {
  color: #000;
  padding: 10px 0 0 10px;
  background-color: #eee;
}
#qa_wrap form fieldset textarea:-ms-input-placeholder {
  color: #000;
  padding: 10px 0 0 10px;
  background-color: #eee;
}
#qa_wrap form fieldset textarea::placeholder {
  color: #000;
  padding: 10px 0 0 10px;
  background-color: #eee;
}
#qa_wrap form fieldset textarea {
  width: 1200px;
  background-color: #eee;
  border: 0;
  height: 200px;
}
#qa_wrap form fieldset button {
  margin-top: 16px;
  width: 1200px;
  background-color: #222;
  color: #fff;
  height: 53px;
}

footer {
  height: 100px;
  background-color: #222;
  color: #fff;
  margin-top: 30px;
  text-align: center;
  padding-top: 50px;
}

/* @media screen and (max-width:1024px) {
    #header_bg{
        header {background:coral;}
    }
} *//*# sourceMappingURL=style.css.map */